@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: transitionIn 0.75s;
  background-color: rgb(35, 161, 161);
}

.square {
    color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    background-color: white;
    margin: .5px;
    border-color: black;
}

.row{
    display: flex;
    justify-content: center;
}

