@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: 'Lobster', cursive;
  animation: transitionIn 0.75s;
  background-color: #1a435e;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


.heading{
    text-align: center;
    color: #EEFBFB
}

.square {
    color: rgba(0, 0, 0, 0);
    aspect-ratio: 1 / 1;
    background-color: white;
    border-color: black;
}

.main{
    display: flex;
    justify-content: space-evenly;
    margin:10px;
}

.row{
    display: flex;
}

.controls-title{
  text-align: center;
  color: #4DA8DA;
}
.controls-labels-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-labels-buttons .controls{
    border-radius: 12px;
    margin:10px;
}
.controls:hover:enabled{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

@media (max-width:500px){
  .main{
  flex-direction: column;
  align-items: center;
  }
}