@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: transitionIn 0.75s;
  background-color: rgb(35, 161, 161);
}

.square {
    color: rgba(0, 0, 0, 0);
    width: 6px;
    height: 6px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-color: black;
}

.main{
    display: flex;
    justify-content: space-evenly;
    margin:10px;
}

.row{
    display: flex;
}

.controls-labels-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-labels-buttons .controls{
    border-radius: 12px;
    margin:10px;
}